body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-around;
  gap: 66px;
  align-items: center;
  font-size: 24px;
  background-color: #1f2937;
  color: #f9faf8;
}

h1 {
  margin: 0;
}

button {
  border: 0;
  border-radius: 8px;
  background-color: #3882F6;
  color: #f9faf8;
  font-size: 18px;
  padding: 8px;
  width: 18%;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #e5e7eb;
}
.hero {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  background-color: #1f2937;
  margin-top: 0;
}

.hero-image {
  max-height: 350px;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 400;
  margin: 0 100px 10px 10px;
}

.hero-content {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  margin-right: 60px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: auto;

  border: 1px solid red;
  background-color: #1f2937;
  color: #f9faf8;
}
